# build output
dist/
# generated types
.astro/
# dependencies
node_modules/
# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
# environment
.env
.env.production
# macOS
.DS_Store
# editors
.vscode/*
!.vscode/extensions.json
.idea/
